.employee-card {
  text-align: center;
  width: 300px;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  display: inline-block;
}
#profile1 {
 font-family: 'Slabo 27px',
}
 
h3 {
  font-size: 24px;
}
 
img {
  width: 150px;
}